{% extends "../template.html" %}
{% load i18n %}
{% block content %}

<!-- Links  -->


<link rel="stylesheet" href="/static/styles/main.css">
<link rel="stylesheet" href="/static/styles/billing.css">

{% if is_update %}
<link rel="stylesheet" href="/static/styles/main_update.css">
{% endif %}


<!-- Links  -->

<div class="div-generalTitle">
    <h1>{% if is_update %}{% trans "Edit Bill" %}{% else %}{% trans "Billing List" %}{% endif %}</h1>
</div>

<div id="div-contenido">

    <div id="div-searchEngine" {% if is_update %} style="visibility: hidden;" {% else %} style="visibility: visible" {% endif %}>
        <h3>{% trans "Search by" %}</h3>

        <form id="form-searchEngine" method="GET" action="">
            <input type="text" name="q" placeholder="Vehicle, Owner, Description, Cost, Status" value="{{ query }}">
            <button type="submit">{% trans "🔎" %}</button>
        </form>

    </div>

    <div id="div-generalTable" {% if is_update %} style="display: none;" {% else %} style="display: block;" {% endif %}>

        <table id="tableBilling">
            <thead>
                <tr>
                    <th id="billingList-th-vehicle">{% trans "Vehicle" %}</th>
                    <th id="billingList-th-owner">{% trans "Owner" %}</th>
                    <th id="billingList-th-description">{% trans "Description" %}</th>
                    <th id="billingList-th-cost">{% trans "Cost" %}</th>
                    <th id="billingList-th-status">{% trans "Pagado" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for billing in billing %}
                <tr>
                    <td id="billingList-td-vehicle">{{ billing.vehicle }}</td>
                    <td id="billingList-td-owner">{{ billing.owner }}</td>
                    <td id="billingList-td-description">{{ billing.description }}</td>
                    <td id="billingList-td-cost">{{ billing.final_price }}</td>
                    <td id="billingList-td-status">{{ billing.status }}</td>
                    <td>
                        <a href="/billing/update/{{ billing.id }}">✏️</a>
                        <a href="/billing/delete/{{ billing.id }}">🗑️</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <form id="form-billing" method="POST" action="" {% if is_update %} style="display: block;" {% else %} style="display: none;" {% endif %}>
        {% csrf_token %}
        {{form.as_p}}
        <p id="p-saveButton-form">
            <button name="save">{% trans "Save" %}</button>
        </p>
    </form>
</div>




<footer>
    {% if is_update %}
    <a href="/services"><button id="button-GoBack">{% trans "Back" %}</button></a>
    {% else %}
    <button id="Button-addObject-footer">{% trans "Add Billing" %}</button>
    {% endif %}
</footer>









<script>

    const context = JSON.parse('{{ context_json|escapejs }}');
    console.log(context);

    const vehiculoSelect = document.getElementById('id_vehicle');
    const ownerSelect = document.getElementById('id_owner');
    const description = document.getElementById('id_description');
    const entry_date = document.getElementById('id_entry_date');
    const departure_date = document.getElementById('id_departure_date');
    const final_price = document.getElementById('id_final_price');

    vehiculoSelect.value = context.vehicle
    ownerSelect.value = context.owner
    description.value = context.description
    entry_date.value = context.entry_date
    departure_date.value = context.departure_date
    final_price.value = context.final_price

</script>

{% endblock %}