{% extends "../template.html" %}
{% load i18n %}
{% block content %}

<!-- Links  -->


<link rel="stylesheet" href="/static/styles/main.css">
<link rel="stylesheet" href="/static/styles/services.css">

{% if is_update %}
<link rel="stylesheet" href="/static/styles/main_update.css">
{% endif %}


<!-- Links  -->

<div class="div-generalTitle">
    <h1>{% if is_update %}{% trans "Edit Service" %}{% else %}{% trans "Services List" %}{% endif %}</h1>
</div>


    <div id="div-contenido">

        <div id="div-searchEngine" {% if is_update %} style="visibility: hidden;" {% else %} style="visibility: visible" {% endif %}>
            <h3>{% trans "Search by" %}</h3>

            <form id="form-searchEngine" method="GET" action="">
                <input type="text" name="q" placeholder="Name, Address, Phone, Email" value="{{ query }}">
                <button type="submit">{% trans "🔎" %}</button>
            </form>

        </div>

        <div id="div-generalTable" {% if is_update %} style="display: none;" {% else %} style="display: block;" {% endif %}>

            <table id="tableServices">
                <thead>
                    <tr>
                        <th id="servicesList-th-vehicle">{% trans "Vehicle" %}</th>
                        <th id="servicesList-th-owner">{% trans "Owner" %}</th>
                        <th id="servicesList-th-description">{% trans "description" %}</th>
                        <th id="servicesList-th-date">{% trans "Dates" %}</th>
                        <th id="servicesList-th-price">{% trans "price" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr>
                        <td id="servicesList-td-vehicle">{{ service.vehicle }}</td>
                        <td id="servicesList-td-owner">{{ service.owner }}</td>
                        <td id="servicesList-td-description">
                            <button id="btn-showdata" onclick="showdata(this.value)" value="{{ service.description }}">Show Data</button>
                        </td>
                        <td id="servicesList-td-date">{{ service.entry_date }}<br>{{ service.entry_date }}</td>
                        
                        <td id="servicesList-td-price">{{ service.price }}</td>
                        <td id="servicesList-td-options">
                            <a href="/services/update/{{ service.id }}">✏️</a>
                            <a href="/services/delete/{{ service.id }}">🗑️</a>
                            <a href="/billing/{{ service.id }}">📋</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div id="info-service">
            <div id="div-info-service"><button id="btn-showdata-show">X</button><br>
                <p id="p-info-service">

                </p>
            </div>
        </div>

        <form id="form-services" method="POST" action="" {% if is_update %} style="display: block;" {% else %} style="display: none;" {% endif %}>
            {% csrf_token %}
            {{form.as_p}}
            <p id="p-saveButton-form">
                <button name="save">{% trans "Save" %}</button>
            </p>
        </form>

    </div>

<footer>
    {% if is_update %}
    <a href="/services"><button id="button-GoBack">{% trans "Back" %}</button></a>
    {% else %}
    <button id="Button-addObject-footer">{% trans "Add Services" %}</button>
    {% endif %}
</footer>





<!-- <script>

    document.addEventListener('DOMContentLoaded', function () {
        const vehiculoSelect = document.getElementById('id_vehicle');
        const ownerSelect = document.getElementById('id_owner');
        const $select = document.querySelector('#id_owner')

        vehiculoSelect.addEventListener('change', function () {
            const selectedUUID = vehiculoSelect.value;
            if (selectedUUID) {
                fetch('get_owner/' + selectedUUID)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.owner)
                        $select.value = data.owner
                    })
            } else {
                $select.value = ""
            }
        });
    });

</script> -->

{% endblock %}

