
#content{
    background-image: url('../../images/FixGarageIcon.png');
    background-position: center;
    background-repeat: no-repeat;
}


@media only screen and (max-device-width : 500px) {
    
    #content{
        background-size: contain;
    }

}