{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FixGarage</title>
    <link rel="shortcut icon" href="/static/images/FixGarageIcon.png">
    <link rel="stylesheet" href="/static/styles/hud_style.css">
    <script src="/static/scripts/scripts.js"></script>

</head>

<body>
    <div id="container">
        <div id="menu" class="collapsed">
            <div class="header">
                <a class="menu_title" href="/">
                    <h1>FIX GARAGE</h1>
                </a>
            </div>
            <nav class="buttons">
                <ul>
                    <li><a href="/clients"><button>{% trans "Clients" %}</button></a></li>
                    <li><a href="/vehicles"><button>{% trans "Vehicles" %}</button></a></li>
                    <li><a href="/services"><button>{% trans "Services" %}</button></a></li>
                    <li><a href="/billing"><button>{% trans "Billing" %}</button></a></li>
                </ul>
            </nav>
            <div class="footer">
                <a href="/logout"><button>{% trans "Logout" %}</button></a>
            </div>
        </div>
        <div id="div-showmenu">
            <button id="button-show-menu">{% trans "Show Menu" %}</button>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>
    
</body>

</html>